.task-container{
    margin-top: 20px;
    background-color: bisque;
    padding: 20px;
    list-style-type: none;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkbox-and-task-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-and-task-container input{
    margin-right: 15px;
    cursor: pointer;
}

.checkbox-and-task-container label{
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    color: blue;
}

.delete-btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.checked{
    text-decoration: line-through;
}